
<div class="text-center">
    <div class="welcome">
        <h1>Bienvenido al convertidor online de unidades</h1>
		<p>Utiliza el menú de navegación para seleccionar el tipo de conversión que deseas realizar: Longitud, Peso o Temperatura.</p>
        <h3>Longitudes</h3>
        <ul>
            <li>Milimetros (ml)</li>
            <li>Centimetros (cm)</li>
            <li>Metros (m)</li>
			<li>Kilometros(km)</li>
            <li>Inch (in)</li>
            <li>Foot (ft)</li>
            <li>Yard (yd)</li>
            <li>Mile (mi)</li>
        </ul>

        <h3>Pesos</h3>
        <ul>
            <li>Miligramos (mg)</li>
            <li>Gramos (g)</li>
            <li>Kilogramos (kg)</li>
            <li>Ounce (oz)</li>
            <li>Pound (lb)</li>
        </ul>

        <h3>Temperatura</h3>
        <ul>
            <li>Celsius (c)</li>
            <li>Fahrenheit (f)</li>
            <li>Kelvin (k)</li>
        </ul>
    </div>
</div>
