@model Unidad
<form action="/TempConvert" method="post">
    <label>Temperatura a convertir</label>
    <input type="number" name="Input" />

    <label>De:</label>
    <select name="UnitFrom">
        <option value="Celsius">Celsius</option>
        <option value="Fahrenheit">Fahrenheit</option>
        <option value="Kelvin">Kelvin</option>
    </select>
    <label>A:</label>
    <select name="UnitTo">
        <option value="Celsius">Celsius</option>
        <option value="Fahrenheit">Fahrenheit</option>
        <option value="Kelvin">Kelvin</option>
    </select>
    <button type="submit">Convertir</button>
</form>
@ViewData["Resultado"]
